/* *{
    margin: 0;
    padding: 0;
} */
/* div{
    width: 50%;
    min-width: 400px;
    max-width: 800px;
    height: 100px;
    background-color: red;
} */
/* .new-color{
    color: red;
} */

/* body{
    background-color: teal;
} */